@font-face {
font-family: 'byekan';
src: url('../fonts/kamva.ttf');
/* src: url('../fonts/BYekan.woff') format('woff');*/
/* src: url('../fonts/BYekan.ttf') format('truetype');*/
font-weight: normal;
font-style: normal;
}
body{
font-family: "byekan";
}